.navbar {
	min-height: 7rem;
	box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
	display: flex;
	align-items: center;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media screen and (max-width: 800px) {
			flex-direction: column;
			padding: 1rem 0;
		}
	}

	&__logo {
		width: 15rem;

		@media screen and (max-width: 800px) {
			margin-bottom: 2rem;
		}
	}

	&__links {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-size: 1.6rem;
	}

	&__link,
	a {
		display: inline-block;
		text-decoration: none;
		list-style: none;
		color: $default-font-color;

		&--active {
			color: $color-primary;
		}

		&:hover {
			color: $color-primary;
		}

		&:not(:last-child) {
			margin-right: 2.5rem;
		}
	}
}
