.heading {
	font-size: 3rem;
	font-weight: 300;
	color: $default-font-color;
	text-transform: capitalize;
	margin: 5rem 0;

	img {
		margin-right: 3rem;
	}

	&--secondary {
		color: $default-font-color;
		font-size: 2rem;
		margin-bottom: 2rem;
	}
}
